.banner {
  width: 100%;
  height: auto;
  background: #212428;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.banner-heading h4 {
  color: #878f99;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.banner-heading h2 {
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 0;
  margin: 8px 0;
}
.banner-heading h2 span {
  color: #ff014f !important;
}
.banner-res {
  display: none;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}
.banner-heading h3 {
  font-size: 40px;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
.banner-heading p {
  font-size: 18px;
  font-weight: 500;
  color: #878f99;
  margin-top: 15px;
  line-height: 29px;
}
.banner-img {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #1f2125;
  box-shadow: 10px 10px 19px #1a1c1f, -10px -10px 19px #272b2e;
  border-radius: 5px;
}
.social-icon-card {
  margin-top: 30px;
}
.social-icon-card p {
  color: #ffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: 15px;
  padding: 0;
}
.banner-font {
  display: flex;
}
.banner-font a {
  text-decoration: none;
  height: 55px;
  width: 55px;
  border-radius: 5px;
  text-align: center;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #1f2125;
  box-shadow: 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
  font-size: 20px;
  color: #f9004d;
  border: 1px solid #2e3035;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.banner-font a:hover {
  color: #ffff;
  transform: translatey(-9px);
}
.banner-user {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #4d1d30;
  padding: 10px;
}
.banner-user-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #c90a45;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner-img {
  display: block;
}
.banner-user-icon i {
  color: #fff;
  font-size: 20px;
}
@media (min-width: 478px) and (max-width: 680px) {
  .banner-heading h2 {
    font-size: 30px;
  }
  .banner-heading h3 {
    font-size: 35px;
  }
}
@media (min-width: 200px) and (max-width: 477px) {
  .banner-heading h2 {
    font-size: 20px;
  }
  .banner-heading h3 {
    font-size: 25px;
  }
  .banner-heading p {
    font-size: 14px;
  }
}
@media (min-width: 228px) and (max-width: 768px) {
  .banner-img {
    display: none;
  }
  .banner-res {
    display: block;
  }
}
